<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Manage Order</h5>
        </div>
        <div class="card-body">
          <div class="custom-datatable">
            <form>
              <div class="mb-3">
                <input type='text' class="filter-ngx form-control" placeholder='Search...' [(ngModel)]="searchText"
                       autocomplete="off" />
              </div>
            </form>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col" sortable="order_id" (sort)="onSort($event)">Order Id</th>
                <th scope="col" sortable="order_status" (sort)="onSort($event)">Order Status</th>
                <th scope="col" sortable="product" (sort)="onSort($event)">Order Address</th>
                <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
                <th scope="col" sortable="total" (sort)="onSort($event)">Total</th>
                <th scope="col" sortable="population" (sort)="onSort($event)">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of OrderList">
                <th scope="row">#{{ item.orderId }}</th>
                <td>

                  <span  *ngIf="item.orderStatus === 'Processing'" class='badge badge-pill badge-warning'>{{ item.orderStatus }}</span>
                  <span *ngIf="item.orderStatus === 'Waiting for Payments'" class='badge badge-pill badge-secondary'>{{ item.orderStatus }}</span>
                  <span *ngIf="item.orderStatus === 'Being delivered'" class='badge badge-pill badge-primary'>{{ item.orderStatus }}</span>
                  <span *ngIf="item.orderStatus === 'Paid'" class='badge badge-pill badge-success'>{{ item.orderStatus }}</span>
                  <span *ngIf="item.orderStatus === 'Cash on Delivery'" class='badge badge-pill badge-info'>{{ item.orderStatus }}</span>
                  <span *ngIf="item.orderStatus === 'Payment Failed'" class='badge badge-pill badge-danger'>{{ item.orderStatus }}</span>
                  <span *ngIf="item.orderStatus === 'Cancelled'" class='badge badge-pill badge-danger'>{{ item.orderStatus }}</span>
                  <span *ngIf="item.orderStatus === 'Shipped'" class='badge badge-pill badge-success'>{{ item.orderStatus }}</span>
                </td>
                <td>{{ item.orderAddress }}</td>
                <td>{{item.orderDate}}</td>
                <td>{{item.amountBill}} TND</td>

                <td>
                  <a (click)="editOrder(item.orderId)"  href="javascript:void(0)"><i class='fa fa-edit f-12'></i></a>&nbsp;
                  <a  (click)="deleteOrder(item.orderId)" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
