<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<!-- personal deatail section start -->
<section class="contact-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>PERSONAL DETAIL</h3>
                <form class="theme-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control mb-0" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
                <h3>SHIPPING ADDRESS</h3>
<div class="col-md-12">
    <label for="review">Latitude</label>
    <textarea class="form-control mb-0" placeholder="Copy Latitude from Map" id="exampleFormControlTextarea2" rows="6"></textarea>
</div>
<div class="col-md-12">
    <label for="review">Longitude</label>
    <textarea class="form-control mb-0" placeholder="Copy Longitude from Map" id="exampleFormControlTextarea3" rows="6"></textarea>
</div>
                <app-geoCode></app-geoCode>

                        <div class="col-md-12">
                            <button class="btn btn-sm btn-solid" type="submit">Save setting</button>
                        </div>
