<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Transaction Details</h5>
                </div>
                <div class="card-body">
                    <div id="batchDelete" class="category-table custom-datatable transcation-datatable">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" >Payment Id</th>
                                    <th scope="col"  >Bank transfer status</th>
                                    <th scope="col" >payment Date</th>
                                    <th scope="col" >paymentMethod</th>
                                    <th scope="col" >transactionstatus</th>
                                    <th scope="col" sortable="population" >Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of PaymentList">
                                    <td>{{ item.paymentId }}</td>
                                    <td>{{item.paymentMethod}}</td>
                                    <td>{{item.paymentDate}} </td>
                                    <td>{{item.paymentMethod}} </td>
                                    <td>{{item.transactionstatus}} </td>
                                    <th>
                                        <a  href="javascript:void(0)"><i class='fa fa-edit f-12'></i></a>&nbsp;
                                        <a  href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                                    </th>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->