<div class="container-fluid">
    <div class="row products-admin ratio_asos">
        <div class="col-xl-3 col-sm-6" *ngFor="let product of product_list">
            <div class="card">
                <div class="card-body product-box">
                    <div class="img-wrapper">
                        <div class="lable-block"><span class="lable3">new</span> <span
                                class="lable4" *ngIf="product.collection[1] == 'on sale'">on sale</span></div>
                        <div class="front">
                            <a href="javascript:void(0)"><img [src]="product.image[0].url"
                                    class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            <div class="product-hover">
                                <ul>
                                    <li>
                                        <button (click)="editProductDetails(product.productId)" class="btn" type="button" data-original-title="" title=""><i
                                                class="icon-pencil-alt"></i></button>
                                    </li>
                                    <li>
                                        <button (click)="deleteProduct(product.productId)" class="btn" type="button" data-toggle="modal"
                                            data-target="#exampleModalCenter" data-original-title="" title=""><i
                                                class="icon-trash"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="product-detail">
                        <a href="javascript:void(0)">
                            <h6>{{product.title}}</h6>
                        </a>
                        <h4>{{(1-product.discount/100) *product.price}} <del>{{product.price}}</del></h4>
                      <h4> {{product.numberOfLikes}} likes</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>