<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Page Details</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable">
                        <div class="clearfix"></div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th scope="col" sortable="name" (sort)="onSort($event)">First Name</th>
                                    <th scope="col" sortable="status" (sort)="onSort($event)">Last Name</th>
                                    <th scope="col" sortable="created_on" (sort)="onSort($event)">Phone Number</th>
                                    <th scope="col" sortable="action" (sort)="onSort($event)">Update/Delete</th>
                                    <th scope="col" sortable="action" (sort)="onSort($event)">Location</th>

                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of providerList ">
                                    <th></th>
                                    <th scope="row">
                                   {{ item.firstName }}
                                    </th>
                                    <th scope="row">
                                        {{ item.lastName }}
                                    </th>
                                    <th scope="row">
                                        {{item.phoneNumber}}
                                    </th>
                                    <th scope="row">
                                        <a (click)="editProvider(item.id)" href="javascript:void(0)"><i class='fa fa-edit f-12'></i></a>&nbsp;
                                        <a (click)="deleteProvider(item.id)" href="javascript:void(0)"><i class="fa fa-trash-o" ></i> &nbsp;&nbsp;&nbsp;</a>

                                    </th>
                                    <th>

                                        <svg (click)="(setLatLngToProvider(item.id))" href="javascript:void(0)"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                                            <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                                        </svg>
                                    </th>
                                </tr>

                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center p-2">
                            <ngb-pagination
                              [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
