<div class="container-fluid">
    <div class="row stores-admin ratio_asos">
        <div class="col-xl-3 col-sm-6" *ngFor="let catalog of catalogList">
            <div class="card">
                <div class="card-body store-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="javascript:void(0)">
                                <img [src]="catalog.catalogImages[0].url" class="img-fluid blur-up lazyload bg-img" alt=""></a>

                        </div>
                    </div>
                    <div class="store-detail">
                        <h2>{{catalog.catalogName}}</h2>
                        <h4>{{catalog.catalogDescription}}</h4>
                        <h4>{{catalog.date | date:'yyyy-MM-dd'}}</h4>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>