
<section class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-12 product-related">
                <h2>Reviews</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul  *ngFor="let review of reviews" class="comment-section">
                    <li>
                        <div class="media"><img src="assets/images/review/1.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6>{{getUserFullNameByReview(review.reviewId)}} <span>( {{review.createdAt}} )</span></h6>
                                <h3>{{review.reviewTitle}}</h3>
                                <p>{{review.reviewText}}</p>
                                <ul class="comnt-sec">
                                    <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span>(14)</span></a></li>
                                    <li><a href="#">
                                            <div class="unlike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>(2)</div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- section end -->