<section class="bg-white" style="padding: 64px">
  <div class="container">
    <div class="text-center">
      <div class="wow fadeInUp" data-wow-delay=".6s">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <h2>Subscribe to newsletter</h2>
            <form class="form form-cta mt-3">
              <div class="form-group">
                <div class="row gutter-1">
                  <div class="col-md-8 mb-2 mb-lg-0">
                    <input type="email" class="form-control form-control-rounded px-3" id="exampleInputEmail1" placeholder="Insert your email">
                  </div>
                  <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-dark btn-rounded btn-block">Subscribe</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="m-0">
<footer class="bg-white" style="padding: 64px">
  <div class="container text-center">
    <div class="wow fadeIn" data-wow-delay=".4s">
      <p><i class="icon icon-layer display-4"></i></p>
      <ul class="list-group list-group-horizontal list-group-clean justify-content-center">
        <li class="list-group-item pr-3"><a href="#">Our store</a></li>
        <li class="list-group-item pr-3"><a href="#">Shop</a></li>
        <li class="list-group-item pr-3"><a href="#">Categories</a></li>
        <li class="list-group-item pr-3"><a href="#">Info</a></li>
        <li class="list-group-item pr-3"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="wow fadeIn" data-wow-delay=".8s">
      <p class="text-muted">
        <small>All rights reserved 2020 © Reveal</small>
      </p>
    </div>
  </div>
</footer>
