
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Add Page</h5>


<form #providerForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <div class="row product-adding">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>General</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> First Name</label>
                                <input class="form-control" [(ngModel)]="provider.firstName" name="name" id="validationCustom01" type="text" required="" >
                            </div>
                            <div class="form-group">
                                <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> Last Name</label>
                                <input class="form-control" id="validationCustomtitle" name="ref1" [(ngModel)]="provider.lastName" type="text" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> Phone Number</label>
                                <input class="form-control" id="validationCustomtitle1" name="ref2" [(ngModel)]="provider.phoneNumber" type="text" required="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


                            <div class="form-group mb-0">
                                <div class="product-buttons text-end mt-3">
                                    <button type="submit" class="btn btn-primary">Confirm Add</button>
                                    <button type="button" class="btn btn-light">Discard</button>
                                </div>
                            </div>

</form>