<div class="account section">
  <div class="container">
    <div class="row justify-content-center" *ngIf="!isLoggedIn">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h2 class="mb-2">Login</h2>
            <p class="lead">Don’t have an account? <a routerLink="/signup">Create a free account</a></p>
          </div>

          <form
            name="form"
            (ngSubmit)="f.form.valid"
            #f="ngForm"
            novalidate>
            <div class="form-group mb-4">
              <label>Enter username</label>
              <input type="text" class="form-control" placeholder="Enter Username"

                     type="text"
                     class="form-control"
                     name="username"
                     [(ngModel)]="form.username"
                     required
                     #username="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
              <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
                Username is required!
              </div>
            </div>
            <div class="form-group">
              <label>Enter Password</label>
              <a class="float-right" href="">Forget password?</a>
              <input class="form-control"
                     type="password"
                     class="form-control"
                     name="password"
                     [(ngModel)]="form.password"
                     required
                     minlength="6"
                     #password="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
            </div>
            <a class="btn btn-main mt-3 btn-block custom-button" (click)="onSubmit()">Login</a>
          </form>
        </div>
      </div>
    </div>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Welcome {{ currentUser.username }}<br>
      Logged in as {{ currentUser.roles }}.
    </div>
  </div>
</div>
