<div class="card card-panel bg-white shadow-sm mb-2">

  <div class="card-header py-4 bg-white" role="button" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <h2 class="h4 mb-0">Register now</h2>
  </div>

  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
    <div class="card-body p-0">
      <hr class="m-0">
      <div class="p-4 p-md-6">
        <form>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" value="" class="form-control form-control-simple" placeholder="First name: *">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" value="" class="form-control form-control-simple" placeholder="Last name: *">
              </div>
            </div>

            <div class="col-md-12">

              <div class="form-group">
                <input type="text" value="" class="form-control form-control-simple" placeholder="Company name:">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <input type="text" value="" class="form-control form-control-simple" placeholder="Zip code: *">
              </div>
            </div>

            <div class="col-md-8">
              <div class="form-group">
                <input type="text" value="" class="form-control form-control-simple" placeholder="City: *">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" value="" class="form-control form-control-simple" placeholder="Email: *">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" value="" class="form-control form-control-simple" placeholder="Phone: *">
              </div>
            </div>

            <div class="col-md-12">

              <div class="custom-control custom-checkbox custom-checkbox-primary py-2">
                <input type="checkbox" class="custom-control-input" id="customExampleCheck1">
                <label class="custom-control-label" for="customExampleCheck1">
                  I have read and accepted the <a href="#">terms and conditions</a>
                </label>
              </div>

              <div class="custom-control custom-checkbox custom-checkbox-primary py-2">
                <input type="checkbox" class="custom-control-input" id="customExampleCheck2">
                <label class="custom-control-label" for="customExampleCheck2">
                  Subscribe to exciting newsletters and great tips
                </label>
              </div>
            </div>

            <div class="col-md-12 text-right py-4">
              <a href="checkout-delivery.html" class="btn btn-primary">Create an account</a>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
